*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block; 
}

#web-app{
    height: 100vh;
    width: 100%;
}

header,
footer{
    height: 10vh;
    background-color: white;
    padding: 1rem;
}

main{
    height: 80vh;
    background-color: aquamarine;
}

header,
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h-sx{
    display: flex;
    align-items: center;
}

#difficulty{
    margin-right: 10px;
    background-color: rgb(237, 237, 237);
    width: 150px;
    border-radius: 3px;
}

#play{
    width: 50px;
}

/* game */

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#game{
    position: relative;
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

#punteggio{
    border: 1px solid darkcyan;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    align-self:baseline ;
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-over{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 40px;
    z-index: 999;
    animation: culo 2s ease;
}

@keyframes culo {
    0%{
        bottom: 100%
    }

    100%{
        bottom: 0;
    }
}

.box-easy,
.box-hard,
.box-medium{
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-hard{
    flex-basis: calc(100% / 10);
}

.box-medium{
    flex-basis: calc(100% / 9);
}

.box-easy{
    flex-basis: calc(100% / 7);
}

.active{
    background-color: bisque;
}

.bomba{
    background-color: red;
}